<main class="app-shell">
    <div class="layout-shell">
        <router-outlet />
    </div>
    <footer class="site-footer">
        <p>
            &copy; 2026 &ndash; Present
            <a href="https://samir.cx" target="_blank" rel="noopener">samir.cx</a>
            &mdash; All Rights Reserved.<br />
            View Source Code on
            <a
                href="https://github.com/SamirTheSWE/Better-Calendar-Holidays"
                target="_blank"
                rel="noopener"
                >GitHub</a
            >.
        </p>
    </footer>
</main>
